{% extends 'base.html' %}
{% load bootstrap4 %}
    {% block content %}
    {{ block.super}}
    {{form.media}}        
        <div class="container" style="border-left: solid  lightgrey 0.02em; margin-top: 30px; margin-top: 15vh;">                       
            
            <div class="row">                            
                <div class="col-sm-11 col-md-6">
                    <div class="col-md-5">
                        <div class="icon" style="width: 380px; height: 380px; background:url('{{ profiles.prof_pic.url }}'); background-size: cover; margin-left: 100px; margin-top: 20px; border-radius: 50%;">
                            <button class="btn" data-toggle="modal" style="width: 100%; background-color: rgba(241, 217, 217,.5);" data-target="#a{{profiles.id}}">Edit</btn>                        
                        </div>                    
                    </div>                
                </div>
                <!-- Profile Picture Modal -->
                <div class="modal fade" id="a{{profiles.id}}" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
                    <div class="modal-dialog modal-sm modal-dialog-centered"  role="document">
                        <div class="modal-content"> 
                            <div class="modal-body" style="height: 200px;">
                                <form action="{%url 'editprofile' current_user.id %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                            
                                    {% bootstrap_form picture %}
                                    <input type="submit" class="btn btn-success btn-lg" value="Change">
                                </form> 
                            </div>    
                        </div>
                    </div>
                </div>
                
                <div class="col col-md-6" style="margin-top: 40px; padding-left: 40px;">
                    <div class="container">
                        <h2 style="display: inline-block;">{{profiles.user}}</h2>                        
                    </div>                    
                    <div class="container" style="padding-top:20px;">
                        <h5 style="display: inline-block;padding-right: 20vw;">Bio:</h5>
                        <button class="btn btn-default" style="display: inline-block;" data-toggle="modal" data-target="#b{{profiles.id}}">Edit</button>
                        <div class="container">                            
                            <p style="font-style:oblique;">{{profiles.bio}}</p>
                            
                        </div>
                    </div>
                    <!-- Bio Modal -->
                    <div class="modal fade" id="b{{profiles.id}}" tabindex="-1" role="dialog" aria-labelledby="{{post.title}}" aria-hidden="true">
                        <div class="modal-dialog modal-md modal-dialog-centered"  role="document">
                            <div class="modal-content"> 
                                <div class="modal-body">
                                    <form action="{% url 'editprofile' current_user.id %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                    
                                        {% bootstrap_form bio %}
                                        <input type="submit" class="btn btn-success btn-lg" value="Change">
                                    </form>
                                </div>    
                            </div>
                        </div>
                    </div>                                    
                </div>                            
            </div>
        </div>
        <style>
            .pic-edit {
                background-color: azure;
                text-align: center;
                position: absolute;
                width: 290px;
                margin-left: 45px; 
                margin-top: 45vh; 
                padding: 15px 0;
            }
        </style>        
    {% endblock %}


    <!--<a href="{% url 'profile' profile.id %}">Back</a>-->