<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">      
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar-fluid">
            <h2 style="text-align: center;"><a href="{% url 'home' %}">Grammer</a></h2>
        </nav>        
        <div class="container" style="background-color: rgba(251, 208, 251,.5); margin-top: 5px;">
            <div class="row">            
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <form class="form-inline d-flex justify-content-center md-form form-sm active-purple-2 mt-2" >
                        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </form>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <a href="{% url 'home' %}"><p style="padding-top: 9px; display: inline-block; padding-left: 35%;">Home</p></a>                    
                </div>
            </div>
        </div>
        <style>
            .navbar-fluid {
                background-color: white;
                border-bottom:solid lightgrey .01em;                
            }
            .active-purple-2 input.form-control[type=text]:focus:not([readonly]) {
              border-bottom: 1px solid #ce93d8;
              box-shadow: 0 1px 0 0 #ce93d8;
            }
            .active-purple .fa, .active-purple-2 .fa {
              color: #ce93d8;
            }

        </style>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>