{% extends 'base.html' %}
    {% block content %}
    {{ block.super}}
        <div class="container" style="border-left: solid  lightgrey 0.02em; margin-top: 30px;">
            <div class="row">
            <!--{% for profile in profiles %}-->
                <div class="col-md-5">
                    <div class="icon" style="width: 270px; height: 270px; background:url('{{ profile.prof_pic.url }}'); background-size: cover; margin-left: 100px; margin-top: 20px;">                                                                        
                    </div>                    
                </div>
                <div class="col-md-7" style="margin-top: 40px; padding-left: 40px;">
                    <div class="container">
                        <h2 style="display: inline-block;">{profile.username}</h2>
                        <p style="display: inline-block; padding-left: 50px;"><button> Edit profile</button></p>                  
                    </div>
                    <div class="container">
                        <h5 style="display: inline-block; padding-left: 20px;"><span style="font-size: 25px;"><strong>1</strong></span> Posts</h5>
                        <h5 style="display: inline-block; padding-left: 40px;"><span style="font-size: 25px;"><strong>1</strong></span> Followers</h5>
                        <h5 style="display: inline-block; padding-left: 20px;"><span style="font-size: 25px;"><strong>1</strong></span> Following</h5>
                    </div>
                    <div class="container" style="padding-top:20px;">
                        <h5>Bio:</h5>
                        <div class="container">
                            <p style="font-style:oblique;">{profile.bio}</p>
                        </div>
                    </div>                    
                </div>                
            <!--{% endfor %}-->
            </div>
            <br>
            <hr>            
            <ul class= "container">
            <!--{% for feed in feeds %}-->
               <li style="display: inline-block;">
                <div class="icon" style="width: 350px; background-color:#824561; margin-left: 20px; margin-top: 20px;">
                    <img src="{ feed.upload_image.url }" class= "post" alt="Image" style="height: 100%; width:100%; object-fit: contain;">                                                       
                </div>                    
               </li> 
            <!--{% endfor %}-->
            </ul>                            
        </div>        
    {% endblock %}