{% extends "registration/base.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="container" style="margin-top: 25vh; background-color: white; width: 550px; border-radius: 10px;">
    {% if form.errors %}
        <p> Password or Username is incorrect</p>
    {% endif %}
    <div class=" panel panel-default" style="padding: 20px;">
        <div class="panel-heading">
            <p>Welcome to,</p>
            <h2 style="text-align: center; padding: 5px;">Sharer</h2>
            <h5 class="text-center"> Sign In</h5>
        </div>
        <div class="panel-body">
            <form action="/accounts/login/" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-sm" value="Login">                            
                </div>
                <input type="hidden" name="text" value="{{next}}">                        
            </form>
        </div>
        <div class="panel-footer">
            <p>To create an account.Click <span><a href="/accounts/register">Create.</a></span></p>
        </div>
    </div>
</div>

<style>
    body {
        background:linear-gradient(rgba(245, 239, 239,.8), rgba(245, 239, 239,.8)),url('https://media1.giphy.com/media/l1J3FTYpqRl71VExW/giphy.gif');        
        background-size: cover;
    }
</style>
{% endblock %}